{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static './css/style.css' %}">
</head>
<body>
    <header>
        <div class="nav-left">
            <h1><a href="{%url 'home'%}">Django blog</a></h1>
        </div>
        <div class="nav-right">
            <h1><a href="{%url 'post_new'%}">+Yangi post qo'shish</a></h1>
        </div>
    </header>
    {% if user.is_authenticated %}
    <p>{{user.username}}, saytga xush kelibsiz</p>
    <p><a href="{% url 'logout' %}">Saytdan chiqish</a></p>
    {% else %}
    <p>Siz saytga kirmagansiz</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'signup' %}">Ro'yxatdan o'tish</a>
    {% endif %}
    <div>
        {%block content%}

        {%endblock content%}
    </div>
</body>
</html>